/*把轮播图居中显示*/
.bannerbox{
	width:100%;
	position:relative; 
	overflow:hidden; 
}
.banner{
	width:1920px;
	position:absolute;  
	left:50%; 
	margin-left:-960px;
}
.bannerbox .center{
	position: relative;
	height: 600px;
	color: #fff;
}
/*轮播图的上的描述*/
.bannerbox .title{
	font-size: 36px;
	font-weight: 700;
	width: 450px;
	padding-top: 170px;
}
/*轮播图的内容*/
.bannerbox .con{
	font-size: 28px;
	line-height: 92px;
}
.bannerbox .con a{
	color: #fff;
}
/*轮播图上的按钮*/
.bannerbox .btn{
	font-size: 20px;
	line-height: 50px;
	text-align: center;
	width: 158px;
	height: 48px;
	border: 1px solid #fff;
}
/*轮播图上的文字*/
.text{
	position: absolute;
	left: 400px;
	top: 170px;
	background: #000;
	width: 500px;
	height: 500px;
}
/*我们的课程*/
.course{
	background: #f7f7f7;
	padding-bottom: 50px;
}
/*我们的课程顶部*/
.course .top{
	height: 50px;
	padding: 40px 0;
	text-align: center;
}
.course .top p:first-child{
	color: #cd995a;
	font-size: 28px;
}
.course .top p:last-child{
	color: #999;
	font-size: 14px;
}
/*课程*/
.subCon{
	width: 545px;
	height: 283px;
	background: #fff;
	margin: 0 30px 30px 0;
	float: left;
}
/*课程的左侧图片*/
.subCon .left{
	width: 300px;
	margin: 14px;
	float: left;
}
/*课程右侧的描述*/
.subCon .right{
	position: relative;
	float: left;
	width: 184px;
	height: 268px;
	color: #666;
	font-size: 14px;
}
/*课程的标题描述*/
.subCon .right .title{
	height: 62px;
	border-bottom: 1px solid #999;
}
.subCon .right .title div:first-child{
	color: #333;
	font-size: 22px;
	margin-top: 28px;
}
.subCon .right .title div:last-child{
	line-height: 20px;
}
/*课程的内容描述*/
.subCon .right .con{
	margin-top: 6px;
	line-height: 26px;
}
/*课程的现在预约按钮*/
.subCon .right .btn a{
	display: block;
	position: absolute; 
	color: #cd995a;
	width: 98px;
	height: 34px;
	line-height: 36px;
	text-align: center;
	border: 1px solid #cd995a;
	border-radius: 4px;
	right: 0;
	bottom: 0;
	background: #fff;
}
/*被选中了的按钮的颜色*/
.subCon .right .btn.selected a{
	background: #cd995a;
	color: #fff;
}
.subCon:nth-child(2),.subCon:nth-child(4){
	margin-right: 0;
}
/*查看更多课程*/
.more a{
	padding: 7px;
	color: #999;
	font-size: 18px;
	margin: 0 auto;
	text-align: center;
	display: block;
}
/*分页的按钮*/
.paging a{
	display: block;
	float: left;
	color: #999;
	background: #fff;
	width: 24px;
	height: 24px;
	text-align: center;
	line-height: 26px;
	border: 1px solid #eee;
	margin-left: 10px;
	border-radius: 2px;
}
.paging{
	height: 28px;
	margin: 0 auto;
}
a.prev{
	margin:0; 
}
/*分页按钮被选择状态*/
.paging .selected{
	background: #cd995a;
	border: 1px solid #cd995a;
	color: #fff;
}
/*前后按钮不可用状态*/
a.btn-disable {
    border: 1px solid #ebebeb;
    color: #ccc;
    background-color: #eee;
    cursor: not-allowed;
}
/*学员专区*/
.wrap{
	width:100%;
	position:relative; 
	overflow:hidden; 
}
.child{
	width:1920px;
	position:absolute;  
	left:50%; 
	margin-left:-960px;
}
.wrap .center{
	position: relative;
	height: 329px;
	color: #fff;
	text-align: center;
	line-height: 26px;
	font-size: 14px;
}
/*学员专区的标题*/
.wrap .title p:first-child{
	padding-top: 66px;
	font-size: 28px;
	font-weight: 700;
}
/*学员专区的内容*/
.wrap .con{
	padding-top: 28px;
}
/*学员专区的按钮*/
.wrap .btn{
	cursor: pointer;
	margin: 40px auto; 
	width: 100px;
	height: 36px;
	background: #cd995a;
	border-radius: 4px;
	line-height: 36px;
}
.fixed{
	display: none;
}
/*点击出现菜单*/
.menu{
	display: none;
	z-index: 20;
	background: #fff;
	width: 650px;
	height: 1000px;
	position: absolute;
	right: 0;
	border: 1px solid #999;
}
.menu .icon{
	height: 84px;
	position: relative;
}
.icon_close{
	background: url(../image/close.png);
    position: absolute;
    top: 36px;
    right: 36px;
	width: 30px;
	height: 30px;
	cursor: pointer;
}
.head .menu li{
	float: none;
}
.head .menu li:first-child {
    margin-left: 30px;
}
.menu li{
	padding-left: 60px;
	line-height: 120px;
	font-size: 36px;
	color: #868686;
}